# Ignora la cartella generata da Jekyll
_site/

# Cache di compilazione Sass
.sass-cache/

# File di sistema (macOS)
.DS_Store

# File temporanei o di backup
*.log
*.tmp
*.bak

# Cartelle di pacchetti (se mai usi npm)
node_modules/

# File swap o di editor
*.swp
*.swo

# Backup automatici di GitHub online (se mai appaiono)
*.orig
