<footer class="site-footer">
  <div class="footer-inner">
    <p class="footer-text">&copy; {{ site.time | date: "%Y" }} SOS Gemini. Tutti i diritti riservati.</p>

    <ul class="footer-links">
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScqeS4kvCi2_igtAH2nMR94E7yqwyFChaJfMBoR6IYi0Lcvow/viewform" target="_blank" rel="noopener">💬 Dì la tua!</a></li>
      <li><a href="https://github.com/sosgemini/sosgemini.github.io" target="_blank" rel="noopener">GitHub</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Cookie</a></li>
    </ul>
  </div>
</footer>
