<nav class="main-nav" aria-label="Navigazione principale">
  <ul class="nav-links">
    <li><a href="/">Home</a></li>

<!-- Amici -->
<li class="has-submenu">
  <a href="#" class="no-click" aria-haspopup="true" aria-expanded="false">Amici</a>
  <ul class="submenu">
    <!-- Gatti -->
    <li class="has-submenu">
      <a href="#" class="no-click" aria-haspopup="true" aria-expanded="false">Gatti</a>
      <ul class="submenu submenu-nested">
        <li><a href="/cibo-per-gatti-salutare">Miglior Cibo</a></li>
        <li><a href="/pagine/peggior-cibo">Peggior Cibo</a></li>
        <li><a href="/pagine/cibo-eta">Cibo in Base all’Età</a></li>
        <li><a href="/pagine/cibo-speciale">Cibo Esigenze Speciali</a></li>
        <li><a href="/pagine/cibo-casalingo">Cibo Fatto in Casa</a></li>
        <li><a href="/pagine/erba-piante">Erba Gatta - Piante Tossiche</a></li>
        <li><a href="/pagine/snack-integratori">Snack e Integratori</a></li>
        <li><a href="/pagine/negozi-online">Negozi OnLine</a></li>
        <li><a href="/pagine/igiene">Igiene - Lettiera</a></li>
        <li><a href="/pagine/gioco-benefici">Benefici del Gioco</a></li>
      </ul>
    </li>

        <!-- Cani -->
        <li class="has-submenu">
          <span class="no-click" aria-haspopup="true" aria-expanded="false">Cani</span>
          <ul class="submenu submenu-nested">
            <li><a href="/cani">Miglior Cibo</a></li>
            <li><a href="/pagine/cani-igiene">Igiene e Cura</a></li>
            <li><a href="/pagine/cani-gioco">Gioco e Attività</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- Altre voci principali -->
    <li><a href="/lavoro/">Benessere</a></li>
    <li><a href="/tecnologia/">Tecnologia</a></li>
    <li><a href="/hobby/">Hobbystica</a></li>
  </ul>
</nav>
