<section class="square-grid">
  <a href="{{ '/alimentazione/' | relative_url }}" class="content-square">
    <img src="{{ '/assets/img/ICO-alimenti-cibo.webp' | relative_url }}" alt="Alimentazione">
    <p>Alimentazione</p>
    <div class="description">Mangiare sano e sostenibile</div>
  </a>

  <a href="{{ '/animali/' | relative_url }}" class="content-square">
    <img src="{{ '/assets/img/ICO-amici.webp' | relative_url }}" alt="Animali">
    <p>Animali</p>
    <div class="description">Cura e rispetto per i nostri amici</div>
  </a>

  <a href="{{ '/salute/' | relative_url }}" class="content-square">
    <img src="{{ '/assets/img/ICO-medicina-salute.webp' | relative_url }}" alt="Salute">
    <p>Salute</p>
    <div class="description">Benessere naturale e prevenzione</div>
  </a>

  <a href="{{ '/lavoro/' | relative_url }}" class="content-square">
    <img src="{{ '/assets/img/ICO-lavoro-attivita.webp' | relative_url }}" alt="Lavoro">
    <p>Lavoro</p>
    <div class="description">Etica, smart working e futuro</div>
  </a>

  <a href="{{ '/fai-da-te/' | relative_url }}" class="content-square">
    <img src="{{ '/assets/img/ICO-oggettistica-faidate.webp' | relative_url }}" alt="Fai da te">
    <p>Fai da te</p>
    <div class="description">Soluzioni pratiche e creative</div>
  </a>
</section>
