<section class="square-grid">
<a class="content-square" href="index-amici.html">
  <img src="immagini/ICO-amici.webp" alt="Icona amici">
  <p><strong>Amici</strong></p>
  <p class="description">Vita green per i tuoi animali domestici. Scelte alimentari responsabili, giochi ecologici, cura e tanto altro per i tuoi amici a quattro zampe.</p>
</a>

  <a class="content-square" href="index-alimenti.html">
  <img src="immagini/ICO-alimentazione.webp" alt="Icona alimentazione">
  <p><strong>Alimenti</strong></p>
  <p class="description"> Scopri un'alimentazione sana e sostenibile. Consigli per cibi ecologici, ricette salutari e trucchi per una spesa consapevole e una vita più piacevole.</p>
  </a>
  
<a class="content-square" href="index-lavoro.html">
  <img src="immagini/ICO-lavoro.webp" alt="Icona lavoro">
  <p><strong>Lavoro-Attività</strong></p>
  <p class="description">Il futuro del lavoro è sostenibile. Scopri come pulire i vetri in modo ecologico osservando i professionisti del settore. La tua attività sarà più bella e sostenibile.</p>
</a>
  
<a class="content-square" href="index-medicina.html">
  <img src="immagini/ICO-medicina.webp" alt="Icona medicina">
  <p><strong>Medicina</strong></p>
  <p class="description">Benessere e salute in armonia con la natura circostante. Esamina i vari rimedi naturali e bio, stili di vita sani e il legame tra ambiente e salute umana.</p>
</a>

<a class="content-square" href="index-motori.html">
  <img src="immagini/ICO-motori.webp" alt="Icona motori">
  <p><strong>Motori</strong></p>
  <p class="description">Guida all'innovazione sostenibile: dai veicoli elettrici alla mobilità condivisa. Le soluzioni più pratiche del 2025 per muoversi in città, nella natura e non solo.</p>
</a>

<a class="content-square" href="index-Tecno-Oggetti.html">
  <img src="immagini/ICO-oggettistica.webp" alt="Icona oggettistica">
  <p><strong>Oggettistica</strong></p>
  <p class="description">Oggetti e oggettistica per casa, giardino, svago e tanto altro. Scopri un mondo di prodotti eco smart per te e la tua famiglia ai migliori prezzi sul web</p>
</a>

  
</section>
