/* ============================================================ */
/* Reset iniziale */
/* ============================================================ */

html, body {
  margin: 0;
  padding: 0;
}

/* ============================================================ */
/* Base */
/* ============================================================ */
body {
  font-family: system-ui, sans-serif;
  background: #fff;
  color: #333;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
